.common-card-area{
    width: 100%;
    min-height: 200px;
    height: max-content;
    background: #fff;
    box-shadow: 1px 1px 5px #808080;
    margin: 20px auto;
    padding: 10px;
    display: flex;
}

.card-left-area{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-left-area img{
    height: 100%;
    max-width:80%;
}

.card-right-area{
    width: 75%;
    height: 100%;
}

.c-card-title{
}

.c-card-description{

}

.card-rating-area{
    display: flex;
    padding:0px 10px;
    justify-content: space-between;
    font-weight: bold;
}

.counter-area{
    margin-left: auto;
    margin-right: 20px;
}

.counter-btn{
    font-size: 1rem;
    padding: 0.2em 0.3em;
    margin: auto 10px;
}

@media screen and (max-width:760px){
    .common-card-area{
        display: block;
        width: 90%;
    }

    .card-left-area{
   width: 100%;
   height: 200px;
    }

    
    .card-right-area{
        width: 100%;
         }

}